@charset "utf-8";
body{
	 background-color: darkblue;
}
.frame {
  position: relative;
  width: 290px;
  height: 190px;
  display:inline-flex;
  margin-left: auto;
  filter: blur(8);
}
.ball {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  animation:
    animX 3s cubic-bezier(0.36, 0, 0.64, 1) infinite alternate,
    animY 3s cubic-bezier(0.36, 0, 0.64, 1) infinite alternate,
    scale 3s cubic-bezier(0.36, 0, 0.64, 1) infinite alternate,
	opacity 3s cubic-bezier(0.36, 0, 0.64, 1) infinite alternate;
}
.ball.one {
  background-color: white;
  animation-delay: -6s, -4.5s, -4.5s;
}
.ball.two {
  background-color: white;
  animation-delay: -4s, -2.5s, -2.5s;
}
.ball.three {
  background-color: white;
  animation-delay: -2s, -0.5s, -0.5s;
}
@keyframes animX {
  0% { left: 0px; }
  100% { left: 200px; }
}
@keyframes animY {
  0% { top: 0px; }
  100% { top: 100px; }
}
@keyframes scale {
  0% { transform: scale(0.5); }
  100% { transform: scale(1.2); }
}
@keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0.1; }
}


