* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	    text-align: center
	}
#calendar-container {
		margin: 0 auto;
		max-width: 1000px;
	}

	#calendar-container #header-row,
	#calendar-container #calendar-body {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	#calendar-container #header-row {
		height: 30px;
		text-align: center;
	}

	#calendar-container #header-row .day-column {
		text-transform: uppercase;
		line-height: 29px;
		color: #ffffff;
		background-color:lightpink;
		border-left: 1px solid #FFFFFF;
	}

	#calendar-container #header-row .day-column:nth-child(2n) {
		background-color:burlywood;
	}

	#calendar-container #header-row .day-column:first-child {
		border-left: 1px solid #515151;
	}

	#calendar-container .day-column {
		width: 14.285714286%;
	}

	#calendar-container #header-row {
		border-top: 1px solid #515151;
		border-right: 1px solid #515151;
	}

	#calendar-container #calendar-body {
		border-left: 1px solid #515151;
	}

	#calendar-container #calendar-body .day-column {
		min-height: 140px;
		border-bottom: 1px solid #515151;
		border-right: 1px solid #515151;
	}

	#calendar-container #calendar-body .day-column.weekend {
		background-color:linen;
	}
	