@charset "utf-8";
body{
	background:black ;
}
.wall1{
	position: absolute;
	width: 450px;
	height: 30px;
	background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:10%;
	left:430px;
}

.wall2{
	position: absolute;
	width: 30px;
	height: 600px;
   background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:10%;
	left:1030px;
}
.wall3{
	position: absolute;
	width: 430px;
	height: 30px;
	background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:641px;
	left:460px;
}
.wall4{
	position: absolute;
	width: 30px;
	height: 600px;
	background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:10%;
	left:430px
}
.wall5{
	position: absolute;
	width: 30px;
	height: 170px;
background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:10%;
	left:880px;
}
.wall6{
	position: absolute;
	width: 450px;
	height: 30px;
background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:492px;
	left:610px;
}
.wall7{
	position: absolute;
	width: 290px;
	height: 30px;
background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	top:211.5px;
	left:430px;
}
.return{
	top:550px;
	left:900px;
	position: absolute;
	animation: shake 800ms ease-in-out infinite;
}
@keyframes shake{
	10%, 90%{ transform: translate3d(-1px, 0, 0);}
	20%, 80%{ transform: translate3d(2px, 0, 0);}
	30%, 70%{ transform: translate3d(-4px, 0, 0);}
	40%, 60%{ transform: translate3d(4px, 0, 0);}
	50%{ transform: translate3d(-4px, 0, 0);}
}
.door{
	top:10%;
	left:920px;
	position: absolute; 
}
.congrats{
	width: 50%;
	height: 30px;
	background-image: linear-gradient(pink, blue);
	font-family: serif;
	font-size: 1em;
	text-align: center;
	color: #ffffff;
	margin-top: 0px;
	padding-top: 0px;
}

.tryagain{
	width: 50%;
	height:30px;
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 1em;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
.map{
	left:0px;
	top:550px;
	  position: absolute;
}