@charset "utf-8";
body {
      font-family:  sans-serif;
      line-height: 1.5em;
      background-color: white;  
    }
    .main {
      width: 50%;
      margin: 3em auto;
      padding: 1em;
    }
h1 {
      margin-top: 0;
      font-size: 3.5em;
      line-height: 1em;
    }

    a {
      font-weight: bold;
      color: #0000ff;
      text-decoration: none;
    }

    a:hover {
      background-color: background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);;
    }

    ul {
      padding-left: 18px;
      list-style: none;
    }

    ul li {
      color: #CCC;
    }

